{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{form.arquero}}
    {{form.defensa1}}
    {{form.defensa2}}
    {{form.defensa3}}
    {{form.defensa4}}
    {{form.centro1}}
    {{form.centro2}}
    {{form.centro3}}
    {{form.delantero1}}
    {{form.delantero2}}
    {{form.delantero3}}
    <div class="py-2 text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-1 text-white">Equipo Ideal</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <h1 class="text-center text-white">Jugando en sala de Usuario</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 field-img">
            <div class="offset-1 col-md-10">
              <table class="table">
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.1}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.5}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.9}}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.2}}
                    </td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="field-position">
                      {{form.posiciones.0}}
                    </td>
                    <td></td>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.6}}
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.8}}
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.3}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.10}}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.7}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="field-position">
                      {{form.posiciones.4}}
                      {{form.posiciones.4.0}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="offset-1 col-md-10 bg-light field-position">
            <div class="form-group mt-3">
              <div class="row">
                <div class="col-md-6">
                  {{form.selecciones.label|upper}}
                  {{form.selecciones}}
                </div>
                <div class="col-md-6">
                  {{form.jugadores.label|upper}}
                  {{form.jugadores}}
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button id="btn-cambiar" class="btn btn-default" type="button">CAMBIAR</button>
              <button class="btn btn-primary" type="submit">CONFIRMAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#btn-cambiar").on("click", cambiar_jugador);
      $(".position").on("change", clear);
      $("#id_selecciones").on("change", obtener_jugadores);
      obtener_jugadores();
    });

    function clear() {
      $("#id_selecciones").val("").trigger("change");
    }

    function cambiar_jugador() {
      // Validaciones
      var posicion = $(".position:checked").val();
      var jugador = $("#id_jugadores").val();

      if (!posicion) {
        alert("Debe seleccionar una posición");
      } else if (!jugador) {
        alert("Debe seleccionar un jugador");
      } else {

      }
    }

    function obtener_jugadores() {
      var paisId = $("#id_selecciones").val();
      var request = $.ajax({
        type: "GET",
        url: "{% url 'ajax_obtener_jugadores' %}",
        data: {
            "pais_id": paisId
        }
      });
      request.done(function(response) {
          $("#id_jugadores").html(response.jugadores);
      });
    }
  </script>
{% endblock %}
